.vs/
.vscode/
Debug/
gifs/
misc/
src/macine_conf.hpp
src/scripts/macine_conf.lua
story/
log.txt
todo.org
GPATH
GTAGS
GRTAGS
graphics_demo/graphics_demo/Release/
graphics_demo/graphics_demo/Debug/
graphics_demo/graphics_demo/x64/
graphics_demo/Release/
graphics_demo/Debug/
graphics_demo/x64/